.App {
  /*font-family: "Lucida Console", Monaco;*/
  font-size: 12pt;
}

.main-page {
  border-radius: 20px;
  border: 10px solid beige;
  -moz-border-radius: 10px;
  background-image: url("./media/backgroundgen2.jpg");
  height: 100vh;
  text-align: center;
}

.main-title-container {
  padding-top: 8rem;
}

.main-title {
  color: #111;
  font-family: "Rouge Script";
  font-size: 80pt;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.main-button-container {
  padding-top: 4.2rem;
  display: flex;
  justify-content: space-evenly;
}

.main-button {
  font-size: 14pt !important;
}

.meme-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #fad0d7;
  height: 100vh;
}

.button-container {
  padding: 2rem;
}

.meme {
  display: flex;
  justify-content: center;
}

.meme-img {
  align-self: center;
  width: auto;
  height: auto;
  max-height: 90vh;
  max-width: 50vw;
  padding: 2rem;
}

.empty-text-sign {
  height: auto;
  width: auto;
  padding: 5rem;
  text-align: center;
}

.textman-container {
  background-color: #dee9e4;
  padding: 2rem;
  height: 100vh;
}

.textman-item-container {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: beige;
  border-bottom: 1px solid black;
}

.textman-item {
  border-bottom: 1px solid black;
}

.textman-item-output {
  text-align: center;
}

thead {
  background-color: #88ff79;
}

.recipe-container {
  background-color: #dad8d8;
  min-height: 100vh;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff1c7;
  color: black;
  padding: 1rem;
  height: auto;
}

.recipe-cards {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.recipe-input-container {
  height: auto;
  display: flex;
  justify-content: center;
  padding: 3rem;
  align-content: center;
}

.recipe-input-item {
  align-self: center;
}
