.App {
  /*font-family: "Lucida Console", Monaco;*/
  font-size: 12pt;
}

.meme-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #fad0d7;
  height: 160vh;
}

.button-container {
  padding: 2rem;
}

.meme {
  display: inline-block;
  width: 50vw;
  height: 50vh;
}

.meme-img {
  width: 100%;
  height: auto;
  padding: 2rem;
}

.empty-text-sign {
  height: auto;
  width: auto;
  padding: 5rem;
  text-align: center;
}


.textman-container {
  background-color: #dee9e4;
  padding: 2rem;
  height: 100vh;
}

.textman-item-container {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: beige;
  border-bottom: 1px solid black;
}

.textman-item {
  border-bottom: 1px solid black;
}

.textman-item-output {
  text-align: center;
}

thead {
  background-color: #88ff79;
}

.recipe-container {
  background-color: #dad8d8;
  min-height: 100vh;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff1c7;
  color: black;
  padding: 1rem;
  height: auto;
}

.recipe-cards {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.recipe-input-container {
  height: auto;
  display: flex;
  justify-content: center;
  padding: 3rem;
  align-content: center;
}

.recipe-input-item {
  align-self: center;
}